:root {
  --dark-blue: #2a254b;
  --light-blue: #726e8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
*::selection {
  background-color: var(--dark-blue);
  color: white;
}
a,
ul,
li,
button,
input {
  text-decoration: none;
  background: none;
  list-style-type: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* =========global ========== */
.nav {
  padding: 20px 28px;
}
.nav-content {
}
.nav-content__top {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.nav-search {
  align-content: center;
}
.nav-logo {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.52px;
  color: var(--dark-blue);
}
.nav-bascet {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-content__bottom {
  padding-top: 20px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
.nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  cursor: pointer;
  color: var(--light-blue);
  transition: all 0.3s linear;
}
.nav-link:hover {
  color: var(--dark-blue);
}

.menu {
  display: none;
}
.nav-search-m {
  display: none;
}
@media screen and (max-width: 800px) {
  .nav {
    padding: 20px 24px;
  }
  .nav-links {
    gap: 20px;
  }
}
@media screen and (max-width: 650px) {
  .menu {
    display: block;
  }
  .nav-content__bottom {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .nav-search-m {
    display: block;
  }
  .nav-search {
    display: none;
  }
  .nav-shop {
    display: none;
  }
  .nav-user {
    display: none;
  }
}

/* ========= hero ===========*/

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
}
.header-content {
  display: flex;
}
.header-left {
  background-color: var(--dark-blue);
  color: white;
  padding: 60px;
  flex: 3;
}
.header-right {
  flex: 2;
}

.header-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  max-width: 513px;
  padding-bottom: 41px;
}
.header-btn {
  background-color: #494565;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  cursor: pointer;
}
.header-btn:hover {
  background-color: #494565d0;
}
.header-text {
  max-width: 610px;
  padding-top: 196px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.header-btn-m {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}
@media screen and (max-width: 800px) {
  .header-right {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header-btn {
    display: none;
  }
  .header-btn-m {
    display: block;
  }
  .header-text {
    padding-top: 80px;
  }
  .header {
    padding: 0;
  }
  .header-left {
    padding: 40px 24px;
  }
}

/* ======== Brand section ============ */

.brand {
  padding-top: 60px;
  padding-bottom: 80px;
}
.brand-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  padding-bottom: 51px;
}
.brand-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand-card {
  max-width: 270px;
}
.brand-card__icon {
  padding-bottom: 16px;
}
.brand-cart__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 8px;
}
.brand-cart__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1350px) {
  .brand .container {
    padding: 0 24px;
  }
  .brand-card {
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 600px) {
  .brand {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .brand-title {
    text-align: left;
  }
  .brand-card {
    max-width: 100%;
  }
}

/* =========== section card ==========*/

.ceramics {
  padding-top: 80px;
  padding-bottom: 60px;
}

.section-title{
  font-size: 32px;
  font-weight: 400;
  line-height: 39.36px;
  color: rgba(42, 37, 75, 1);
}

.ceramics-content {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ceramics-card {
  width: 305px;
}
.ceramics-card__img {
  height: 375px;
}

.ceramics-card__img img{
  width:100%;
  height: 100%;
  object-fit:cover;
}

.ceramics-card__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(42, 37, 75, 1);
  margin-top: 24px;
}

.ceramics-card__price {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(42, 37, 75, 1);
  margin-top: 8px;
}

.ceramics-btn {
  padding: 16px 32px;
  background: rgba(249, 249, 249, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(42, 37, 75, 1);
  cursor: pointer;
  transition: all .3s linear;
  margin-top: 36px;
  margin: auto;
  margin-right: auto;
  display: block;
}

.ceramics-btn:hover{
  background: #f1f1f1;
}

@media screen and (max-width: 1350px) {
  .ceramics .container {
    padding: 0 24px;
  }

  .ceramics-content{
    gap: 16px;
  }
}

@media screen and (max-width: 960px) {
  .ceramics-content{
     flex-wrap: wrap;
     justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  .ceramics{
    padding-top: 48px;
    padding-bottom: 38px;
  }
  .ceramics-content{
     justify-content: space-between;
  }

  .ceramics-card{
    width: calc(50% - 8px);
  }
}

@media screen and (max-width: 576px) {
 .ceramics-card__img{
  height: 200px;
 }

 .ceramics-btn{
  width: 100%;
 }
}

/* ========section four  ========*/

.four_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.four_title{
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  color: rgba(42, 37, 75, 1);
  padding-top: 64px;
}

.card2_p1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(42, 37, 75, 1);
    padding-top: 24px;
  }
  .card2_p2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(42, 37, 75, 1);
    padding-top: 8px;
  }

  .card2 {
    padding-top: 33px;
  }

  .card2_card{
    display: none;
  }

  .four_btn{
    width: 170px;
    padding: 16px 32px 16px 32px;
    background-color: rgba(249, 249, 249, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(42, 37, 75, 1);
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 35px;
    margin-bottom: 56px;
  }


@media screen and (max-width:1205px){
  .four_content{
    flex-wrap: wrap;
    padding: 0 24px;
  }

  .four_title{
    font-size: 20px;
    font-weight: 400;
    line-height: 24.6px;
    padding: 0 24px;
  }
}

@media screen and (max-width:730px){
   .card2{
    display: none;
   }

   .card2_card{
    display: block;
   }

   .four_btn{
    width: 100%;
   }
}

/* @media screen and (max-width:1105px){
  .card2 card2_card img{
    width:50px;
  }
} */

/* ========section_five */

.div_wrap{
  background-color: rgba(249, 249, 249, 1);
  max-width: 1280px;
  padding: 52px 74px 65px 93px;
}

.five_wrap{
  background-color: rgba(255, 255, 255, 1);
  max-width: 1153px;
  height:364px;
}

.five_h2{
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  color: rgba(42, 37, 75, 1);
  padding-top: 62px;
}

.five_p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(42, 37, 75, 1);
  text-align: center;
  padding-top: 16px;
}

.five_button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 89px;
}

.five_email{
  width:472px;
  height: 56px;
  background-color: rgba(249, 249, 249, 1);
  padding: 28px;
}

.five_btn{
  width:118px;
  height: 56px;
  background-color: rgba(42, 37, 75, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}


@media screen and (max-width:725px){
   .div_wrap{
    padding: 0 24px;
   }

   .five_wrap{
    width: 100%;
   }

   .five_h2{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
   }

   .five_p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
   }

   .five_email{
    width: 224px;
    height: 56px;
   }

   .five_btn{
    width:118px;
    height:56px;
   }
}


/* =========vsection six ======== */

.box{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-left: 84px;
}

.six_img{
  max-width: 550px;
  height: 600px;
}

.box_title{
  color: rgba(255, 255, 255, 1);
}

.six_h2{
 /*  font-family: Clash Display; */
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  color: rgba(42, 37, 75, 1);
  padding-top: 72px;
}

.six_p{
  /* font-family: Satoshi; */
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgba(80, 89, 119, 1);
  margin-top: 25px;
}

.six_btn{
  width:200px;
  height: 56px;
  padding: 8px 12px 8px 12px;
  background-color: rgba(249, 249, 249, 1);
  /* font-family: Satoshi; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(42, 37, 75, 1);
  margin-top: 196px;
  cursor: pointer;
}

@media screen and (max-width:1105px){
  .box{
    flex-wrap: wrap;
  }
}

@media screen and (max-width:780px){
  .six_btn{
    width: 100%;
  }

  .six_img{
    padding-top: 72px;
    width: 100%;
  }
}

/* ======= footer ========= */

.footer {
  padding-top: 58px;
  background-color: rgba(42, 37, 75, 1);
  color: white;
}

.footer-content {
  display: flex;
  padding-bottom: 48px;
}

.footer-left {
  width: 50%;
  display: flex;
}

.footer-right {
  width: 50%;
}

.footer-lists {
  width: 33%;
}

.footer-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  padding-bottom: 12px;
  cursor: pointer;
}

.footer-title {
  cursor: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
}

.footer-form {
  display: flex;
  margin-top: 16px;
}

.footer-input {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 17px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  width: 100%;
  flex: 4;
}

.footer-input::placeholder{
  color: white;
}

.footer-btn {
  padding: 16px 32px;
  background-color: white;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
  flex: 1;
  cursor: pointer;
}

.footer-below {
  border-top: 1px solid #4e4d93;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.footer-copy {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}

@media screen and (max-width:1350px) {
  .footer .container{
    padding: 0 24px;
  }
}

@media screen and (max-width:900px) {
  .footer-input{
    flex: 5;
  }

  .footer-btn{
    flex: 5;
  }
}

@media screen and (max-width:790px) {

  .footer-content{
    flex-wrap: wrap;
  }

  .footer-right{
    width: 100%;
    margin-top: 40px;
  }

  .footer-left{
    width: 100%;
  }

  .footer-input{
    flex: 2;
  }

  .footer-btn{
    flex: 1;
  }
}

@media screen and (max-width:490px) {
  .footer-left{
    flex-wrap: wrap;
  }
  .footer-lists{
    width: 50%;
  }

  .footer-links{
    display: none;
  }

  .footer-below{
    justify-content: center;
  }
}